.myButton {
  background: #d7ddf4ac;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid #d2bcbc;
  transition: 1s;
  backdrop-filter: blur(10px);

}

.myButton:hover {
  background: #f4f5bab3;
  transition: 0.8s;
}