.authForm {
  max-width: 600px;
  margin: 10vh auto;
  padding: 50px;
  /* min-height: 80vh; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  backdrop-filter: blur(10px);
  background: #199b7611;
  border-radius: 10px;

  &__buttons {
    display: flex;
    justify-content: space-evenly;

    & button {
      padding: 5px 15px;
      background: inherit;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

}